.completeHomePage {
  min-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.completeHomePage .title,
.completeHomePage .loginInfo,
.completeHomePage .logout {
  font-size: 18px;
  color: #B2B2B2;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.completeHomePage .loginInfo {
  font-size: 24px;
  margin: 0;
}

.completeHomePage .logout {
  margin: 0;
  color: #0098DB;
  cursor: pointer;
}

.completeHomePage .boxFile {
  border: 1px solid #CCC;
  width: 250px;
  height: 200px;
  padding: 10px;
  background: #F2F2F2;
  color: #B2B2B2;
  text-align: center;
  margin: 0 auto;
}

.completeHomePage .containerUpload {
  width: 600px;
  margin: 0 auto;
}

.completeHomePage .containerDownload {
  background: #FFF;
  width: 100%;
  height: auto;
  min-height: 350px;
  padding: 20px;
  box-shadow: 0 0 11px 4px #CCC;
  margin-top: 30px;
  margin-bottom: 20px;
}

